extends layout 

block page_title
  title This is the title of my page

block greeting
  header
    h1 Hello World!

block software_engineer
  p I'm going to be a software engineer soon!
  img(src="/images/earth.jpg" alt="the Earth" title="The Earth")